---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - services/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices/finalizers
  verbs:
  - update
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dns.networking.miloapis.com
  resources:
  - dnszones
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - externaldns.k8s.io
  resources:
  - dnsendpoints
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - externaldns.k8s.io
  resources:
  - dnsendpoints/finalizers
  verbs:
  - update
- apiGroups:
  - externaldns.k8s.io
  resources:
  - dnsendpoints/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - backendtlspolicies
  - gatewayclasses
  - gateways
  - httproutes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - backendtlspolicies/finalizers
  - gatewayclasses/finalizers
  - gateways/finalizers
  - httproutes/finalizers
  verbs:
  - update
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - backendtlspolicies/status
  - gatewayclasses/status
  - gateways/status
  - httproutes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - networking.datumapis.com
  resources:
  - connectoradvertisements
  - connectors
  - domains
  - httpproxies
  - networkbindings
  - networkcontexts
  - networkpolicies
  - networks
  - subnetclaims
  - subnets
  - trafficprotectionpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.datumapis.com
  resources:
  - connectoradvertisements/finalizers
  - connectors/finalizers
  - domains/finalizers
  - httpproxies/finalizers
  - networkbindings/finalizers
  - networkcontexts/finalizers
  - networkpolicies/finalizers
  - networks/finalizers
  - subnetclaims/finalizers
  - subnets/finalizers
  - trafficprotectionpolicies/finalizers
  verbs:
  - update
- apiGroups:
  - networking.datumapis.com
  resources:
  - connectoradvertisements/status
  - connectors/status
  - domains/status
  - httpproxies/status
  - networkbindings/status
  - networkcontexts/status
  - networkpolicies/status
  - networks/status
  - subnetclaims/status
  - subnets/status
  - trafficprotectionpolicies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - networking.datumapis.com
  resources:
  - connectorclasses
  verbs:
  - get
  - list
  - watch
